.page {
  color: red;
}

.Home-header {
  width: inherit;
  height: 120rem;
}

.Home--Pic {
  margin: 0 auto;
  text-align: center;
  max-width: 90%;
  display: flex;
  flex-direction: column;

}

.Home-three-boxes{
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.Boxes {
  margin-top: 4rem;
  text-align: center;
  height: 30rem;
  width: 30rem;
  // background-color: red;
  // border: 1px solid black;
}

.Home-bottom {
  width: inherit;
  height: 2rem;
  border: 1px solid black;
}

.Home--nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home--nav--links {
  display: flex;
  font-size: 1.5rem;
  margin-right: 10rem;
}

.Home--nav--title{
  margin-left: 1rem;
}

.link-hover:hover {
  color: rgb(96, 165, 255);
}

.home-logo {
  margin: 2rem 1px 2rem 2rem;
  max-height: 5rem;
}

.home--title {
  display: inline-block;
}

.fa-paper-plane {
  font-size: 17rem;
  color: rgb(189, 251, 255);
}

.plus {
  font-size: 17rem;
  color: rgb(189, 251, 255);
}

.home-Box-title {
  font-size: 2rem;
}

.Home-img {
  position: relative;

}

.Home-type {
  position: absolute;
  color: white;
  font-size: 7rem;
  font-weight: 700;
  top: 20%;
  left: 12%;
}

.Home-button {
  color: rgb(113, 163, 255);
  height: 3rem;
  width: 15rem;
  position: absolute;
  top: 100%;
  border: none;
  background-color: rgb(255, 236, 219);
  // left: 20%;
}