.CreateNote{
  margin: 3rem 4rem;
  font-size: 1.4rem;

  &--title {
    font-size: 3rem;
    color: rgba(1, 1, 1, 0.7);
  }

  &__Submit {
    color: white;
    height: 4rem;
    width: 16rem;
    // background-color: #2bc1c4;
    background-color: rgb(247, 164, 86);
    margin-bottom: 40rem;
    border: 0.5px solid rgba(128, 128, 128, 0.301);
    border-radius: 4px;
  }
  &--TitleInput {
    height: 3rem;
    width: 40rem;
    margin-bottom: 2rem;
    padding: .7rem;
    
  }

  &--BodyInput {

    width: 60rem;
    height: 40rem;
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: .4rem;
    margin-bottom: 1.6rem;
    resize: vertical;
  }
  
}